// Used colors
$primary-color: #725C5C;
$secondary-color: #ED7839;
$tertiary-color: #ffffff;
$quartenary-color: #f1e6e1;

// Used fonts
$font-family-primary: 'Roboto',
sans-serif;
$font-family-secondary: 'Quicksand',
sans-serif;